{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
   /* importing fonts */
   @import url('https://fonts.googleapis.com/css2?family=Raleway');

  body {
      font-family: 'Raleway', sans-serif;
  }

  h1 {
      font-weight: 900;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
  }

  h2 {
      font-size: 1.5em;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 20px 0px;
      text-transform: capitalize;
  }

  h3 {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .table {
    border-collapse: collapse;
    margin: 25px 0;
  }

  .table thead tr {
    background-color: #20639B;
    color: #ffffff;
    text-align: left;
  }

  .table th, td {
    padding: 10px 15px;
  }

  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .table tbody tr:nth-of-type(even) {
    background-color: #e7e7e7;
  }

  .table tbody tr:last-of-type {
    border-bottom: 2px solid #20639B;
  }

  .table tbody tr:hover {
    font-weight: bolder;
    background-color: #c0d3e4;
}

</style>
{% endblock %}

{% block heading %}
<h1>Definite and Indefinite Articles</h1>
{% endblock %}

{% block main_content %}

<h2>Masculine/Feminine Words</h2>
<p>
    In Italian, nouns and adjectives can either be masculine or feminine. This usually can be determined by the last letter of a noun. For singular items, if the noun ends with -o, it is  generally masculine noun and if the noun ends in -a, it is generally feminine noun. For plural nouns, if the word is ending in -i, it is generally masculine while nouns ending in -e are feminine nouns.
</p>
<h2>Definite Articles</h2>
<p>
    Definite articles are used to refer to a specific noun. Within the English language, ‘the’ is used to specify a particular noun. Where English only has one definite article, the Italian Language consists of a total of seven definite articles.
</p>
<h3>Masculine</h3>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
        <th></th>
        <th>Singular</th>
        <th>Plural</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>Begins with a Consonant</th>
        <td>il</td>
        <td>i</td>
        </tr>
        <tr>
        <th>Begins with a s+consonant, ps, pn, gn, x, y or z</th>
        <td>lo</td>
        <td>gli</td>
        </tr>
        <tr>
        <th>Begins with a Vowel</th>
        <td>l'</td>
        <td>gli</td>
        </tr>
    </tbody>
    </table>
</div>
<h3>Feminine</h3>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
        <th></th>
        <th>Singular</th>
        <th>Plural</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>Begins with a Consonant</th>
        <td>la</td>
        <td>le</td>
        </tr>
        <tr>
        <th>Begins with a Vowel</th>
        <td>l'</td>
        <td>le</td>
        </tr>
    </tbody>
    </table>
</div>
<h2>Indefinite Articles</h2>
<p>
    Indefinite articles are used to define a non specific item. In English, there are two indefinite articles ‘a’ and ‘an’, whereas the Italian Language has four indefinite articles.
</p>
<h3>Masculine</h3>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
        <th></th>
        <th>Singular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>Begins with a Consonant or Vowel</th>
        <td>un</td>
        </tr>
        <tr>
        <th>Begins with a s+consonant, ps, pn, gn, x, y or z</th>
        <td>uno</td>
        </tr>
    </tbody>
    </table>
</div>
<h3>Feminine</h3>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
        <th></th>
        <th>Singular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>Begins with a Consonant</th>
        <td>una</td>
        </tr>
        <tr>
        <th>Begins with a Vowel</th>
        <td>un'</td>
        </tr>
    </tbody>
    </table>
</div>
<h2>Examples</h2>
<h3>Definite Aritcles</h3>
<p>
    l ragazzo / i ragazzi<br>
    The boy / the boys<br><br>
    Lo studente / gli studenti<br>
    The student / the students<br><br>
    L’amico / gli amici<br>
    The male friend / the male friends<br><br>
    La ragazza / le ragazze<br>
    The girl / the girls<br><br>
    L’amica / le amiche<br>
    The female friend / the female friends<br><br>
</p>
<h3>Indefinite Articles</h3>
<p>
    Un libro<br>
    A book<br><br>
    Uno stato<br>
    A state<br><br>
    Una penna<br>
    A pen<br><br>
    Un’ universita<br>
    A university<br><br>
</p>
{% endblock %}