{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
</style>
{% endblock %}

{% block heading %}
<h1>Colours</h1>
{% endblock %}

{% block  main_content %}
<div>
    Learn how to differentiate between the colours.
</div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Colour</th>
            <th>Italian</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Red</td>
            <td>Rosso</td>
          </tr>
          <tr>
            <td>Orange</td>
            <td>Arancione</td>
          </tr>
          <tr>
            <td>Yellow</td>
            <td>Giallo</td>
            
          </tr>
          <tr>
            <td>Green</td>
            <td>Verde</td>
            
          </tr>
          <tr>
            <td>Blue</td>
            <td>Blu</td>
            
          </tr>
          <tr>
            <td>Purple</td>
            <td>Viola</td>
            
          </tr>
          <tr>
            <td>Pink</td>
            <td>Rosa</td>
            
          </tr>
          <tr>
            <td>Brown</td>
            <td>Marrone</td>
            
          </tr>
          <tr>
            <td>Black</td>
            <td>Nero</td>
            
          </tr>
          <tr>
            <td>White</td>
            <td>Bianca</td>
            
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}