{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
   /* importing fonts */
   @import url('https://fonts.googleapis.com/css2?family=Raleway');

  body {
      font-family: 'Raleway', sans-serif;
  }

  h1 {
      font-weight: 900;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
  }

  .table {
    border-collapse: collapse;
    margin: 25px 0;
  }

  .table thead tr {
    background-color: #20639B;
    color: #ffffff;
    text-align: left;
  }

  .table th, td {
    padding: 10px 15px;
  }

  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .table tbody tr:nth-of-type(even) {
    background-color: #e7e7e7;
  }

  .table tbody tr:last-of-type {
    border-bottom: 2px solid #20639B;
  }

  .table tbody tr:hover {
    font-weight: bolder;
    background-color: #c0d3e4;
}

</style>
{% endblock %}

{% block heading %}
<h1>Colours</h1>
{% endblock %}

{% block  main_content %}
<div>
    Learn how to differentiate between the colours.
</div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Colour</th>
            <th>Italian</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Red</td>
            <td>Rosso</td>
          </tr>
          <tr>
            <td>Orange</td>
            <td>Arancione</td>
          </tr>
          <tr>
            <td>Yellow</td>
            <td>Giallo</td>
            
          </tr>
          <tr>
            <td>Green</td>
            <td>Verde</td>
            
          </tr>
          <tr>
            <td>Blue</td>
            <td>Blu</td>
            
          </tr>
          <tr>
            <td>Purple</td>
            <td>Viola</td>
            
          </tr>
          <tr>
            <td>Pink</td>
            <td>Rosa</td>
            
          </tr>
          <tr>
            <td>Brown</td>
            <td>Marrone</td>
            
          </tr>
          <tr>
            <td>Black</td>
            <td>Nero</td>
            
          </tr>
          <tr>
            <td>White</td>
            <td>Bianca</td>
            
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}