{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
   /* importing fonts */
   @import url('https://fonts.googleapis.com/css2?family=Raleway');

  body {
      font-family: 'Raleway', sans-serif;
  }

  h1 {
      font-weight: 900;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
  }

  .table {
    border-collapse: collapse;
    margin: 25px 0;
  }

  .table thead tr {
    background-color: #20639B;
    color: #ffffff;
    text-align: left;
  }

  .table th, td {
    padding: 10px 15px;
  }

  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .table tbody tr:nth-of-type(even) {
    background-color: #e7e7e7;
  }

  .table tbody tr:last-of-type {
    border-bottom: 2px solid #20639B;
  }

  .table tbody tr:hover {
    font-weight: bolder;
    background-color: #c0d3e4;
}

</style>
{% endblock %}

{% block heading %}
<h1>Greetings</h1>
{% endblock %}

{% block main_content %}
<div>
    Learn some greetings to use to your peers!
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Greeting</th>
          <th>Italian</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hi (Informal)</td>
          <td>Ciao</td>
        </tr>
        <tr>
          <td>How are you?</td>
          <td>Come Stai?</td>
        </tr>
        <tr>
          <td>Good Morning</td>
          <td>Buon Giorno</td>
        </tr>
        <tr>
          <td>Good Afternoon</td>
          <td>Buon Pomeriggio</td>
        </tr>
        <tr>
          <td>Good Evening</td>
          <td>Buona Sera</td>
        </tr>
        <tr>
          <td>Good Night</td>
          <td>Buona Notte</td>
        </tr>
        <tr>
          <td>Good Bye</td>
          <td>Arrivederci</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
