{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
</style>
{% endblock %}

{% block heading %}
<h1>Numbers</h1>
{% endblock %}

{% block  main_content %}
<div>
    Numbers in Italian are simple to follow, they mostly follow a predictable pattern.
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Number</th>
          <th>Italian</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>One</td>
          <td>Uno</td>
        </tr>
        <tr>
          <td>Two</td>
          <td>Due</td>
        </tr>
        <tr>
          <td>Three</td>
          <td>Tre</td>
        </tr>
        <tr>
          <td>Four</td>
          <td>Quattro</td>
        </tr>
        <tr>
          <td>Five</td>
          <td>Cinque</td>
        </tr>
        <tr>
          <td>Six</td>
          <td>Sei</td>
        </tr>
        <tr>
          <td>Seven</td>
          <td>Sette</td>
        </tr>
        <tr>
          <td>Eight</td>
          <td>Otto</td>
        </tr>
        <tr>
          <td>Nine</td>
          <td>Nove</td>
        </tr>
        <tr>
          <td>Ten</td>
          <td>Dieci</td>
        </tr>
        <tr>
          <td>Eleven</td>
          <td>Undici</td>
        </tr>
        <tr>
          <td>Twelve</td>
          <td>Dodici</td>
        </tr>
        <tr>
          <td>Thirteen</td>
          <td>Tredici</td>
        </tr>
        <tr>
          <td>Fourteen</td>
          <td>Quattordici</td>
        </tr>
        <tr>
          <td>Fifteen</td>
          <td>Quindici</td>
        </tr>
        <tr>
          <td>Sixteen</td>
          <td>Sedici</td>
          
        </tr>
        <tr>
          <td>Seventeen</td>
          <td>Diciassette</td>
          
        </tr>
        <tr>
          <td>Eighteen</td>
          <td>Diciotto</td>
          
        </tr>
        <tr>
          <td>Nineteen</td>
          <td>Diciannove</td>
          
        </tr>
        <tr>
          <td>Twenty</td>
          <td>Venti</td>
          
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}
