{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
   /* importing fonts */
   @import url('https://fonts.googleapis.com/css2?family=Raleway');

  body {
      font-family: 'Raleway', sans-serif;
  }

  h1 {
      font-weight: 900;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
  }

  .table {
    border-collapse: collapse;
    margin: 25px 0;
  }

  .table thead tr {
    background-color: #20639B;
    color: #ffffff;
    text-align: left;
  }

  .table th, td {
    padding: 10px 15px;
  }

  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .table tbody tr:nth-of-type(even) {
    background-color: #e7e7e7;
  }

  .table tbody tr:last-of-type {
    border-bottom: 2px solid #20639B;
  }

  .table tbody tr:hover {
    font-weight: bolder;
    background-color: #c0d3e4;
}

</style>
{% endblock %}

{% block heading %}
<h1>Common Verbs</h1>
{% endblock %}

{% block main_content %}

<div>
    Here are the most commonly used verbs.
</div>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Verb</th>
        <th>Italian</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>To Go</td>
        <td>Andare</td>
    </tr>
    <tr>
        <td>To Eat</td>
        <td>Mangiare</td>
    </tr>
    <tr>
        <td>To Be</td>
        <td>Essere</td>
        
    </tr>
    <tr>
        <td>To Stay</td>
        <td>Stare</td>
        
    </tr>
    <tr>
        <td>To Do/Make</td>
        <td>Fare</td>
        
    </tr>
    <tr>
        <td>To Have</td>
        <td>Avere</td>
        
    </tr>
    <tr>
        <td>To Be Able To</td>
        <td>Potere</td>
        
    </tr>
    <tr>
        <td>To Want</td>
        <td>Volere</td>
        
    </tr>
    <tr>
        <td>To Have to</td>
        <td>Dovere</td>
        
    </tr>
    <tr>
        <td>To Speak</td>
        <td>Parlare</td>
        
    </tr>
    <tr>
        <td>To See</td>
        <td>Vedere</td>
        
    </tr>
    <tr>
        <td>To Know</td>
        <td>Sapere</td>
        
    </tr>
    <tr>
        <td>To Put</td>
        <td>Mettere</td>
        
    </tr>
    <tr>
        <td>To Take</td>
        <td>Prendere</td>
        
    </tr>
    <tr>
        <td>To Hear/Feel</td>
        <td>Sentire</td>
        
    </tr>
    <tr>
        <td>To Listen</td>
        <td>Ascoltare</td>
        
    </tr>
    </tbody>
</table>
</div>

{% endblock %}