{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
</style>
{% endblock %}

{% block heading %}
<h1>Alphabet</h1>
{% endblock %}

{% block  main_content %}
<div>
  The Italian Alphabet consists of 21 letters. <br>
  It's the same as the English alphabet minus the j, k, w, x and y.
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Letter</th>
        <th>Pronunciation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>a</td>
        <td>ah</td>
      </tr>
      <tr>
        <td>b</td>
        <td>bee</td>
      </tr>
      <tr>
        <td>c</td>
        <td>chee</td>
      </tr>
      <tr>
        <td>d</td>
        <td>dee</td>
      </tr>
      <tr>
        <td>e</td>
        <td>eh</td>
      </tr>
      <tr>
        <td>f</td>
        <td>eh-ffeh</td>
      </tr>
      <tr>
        <td>g</td>
        <td>gee</td>
      </tr>
      <tr>
        <td>h</td>
        <td>ah-kkah</td>
      </tr>
      <tr>
        <td>i</td>
        <td>ee</td>
      </tr>
      <tr>
        <td>l</td>
        <td>eh-lleh</td>
      </tr>
      <tr>
        <td>m</td>
        <td>eh-mmeh</td>
      </tr>
      <tr>
        <td>n</td>
        <td>eh-nneh</td>
      </tr>
      <tr>
        <td>o</td>
        <td>oh</td>
      </tr>
      <tr>
        <td>p</td>
        <td>pee</td>
      </tr>
      <tr>
        <td>q</td>
        <td>koo</td>
      </tr>
      <tr>
        <td>r</td>
        <td>eh-rreh</td>
      </tr>
      <tr>
        <td>s</td>
        <td>eh-sseh</td>
      </tr>
      <tr>
        <td>t</td>
        <td>tee</td>
      </tr>
      <tr>
        <td>u</td>
        <td>ooh</td>
      </tr>
      <tr>
        <td>v</td>
        <td>voo</td>
      </tr>
      <tr>
        <td>z</td>
        <td>zeh-tah</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
