{% extends "dashboard_template.html" %}

{% set active_page = "dashboard" %}

{% block styling %}
<style>
   /* importing fonts */
   @import url('https://fonts.googleapis.com/css2?family=Raleway');

  body {
      font-family: 'Raleway', sans-serif;
  }

  h1 {
      font-weight: 900;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
  }

  .card {
    margin-top: 1.5rem;
  }

  .card-body {
      background-color: #bacedf;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      line-height: 2;
  }
  .card-title {
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      text-transform: capitalize;
  }

  .card-subtitle {
      text-align: center;
  }

  .card-text {
      text-align: center;
  }

  .card-link {
      background-color: #70a3cc;
      border-radius: 5px;
      color: #ffffff;
      padding: 0.5em 2em;
  }

  .progress-bar {
      background-color: #3CAEA3;
  }
</style>
{% endblock %}

{% block heading %}
<h1>Hi {{current_user.name}}!</h1>
{% endblock %}

{% block  main_content %}
<h3 class="mt-1">Your progress:</h3>
<div class="progress mt-3">
  <div class="progress-bar" role="progressbar" style="width: {{progress}}%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% if progress != 100 %}
<h3 class="mt-3">Up next:</h3>
{% else %}
<h3 class="mt-4">Congratulations!<br><br>You have completed the course.</h3>
{% endif %}

<div class="row">
  {% for card in modules %}
  {% include card %}
  {% endfor %}
  </div>
{% endblock %}

{% block script %}
{% endblock %}
