{% extends "dashboard_template.html" %}

{% set active_page = "dashboard" %}

{% block styling %}
<style>
  .card {
    margin-top: 1.5rem;
  }
</style>
{% endblock %}

{% block heading %}
<h1>Hi {{current_user.name}}</h1>
{% endblock %}

{% block  main_content %}
<h3>Up next</h3>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row">
  {% for card in modules %}
    {% include card %}
  {% endfor %}
</div>
{% endblock %}

{% block script %}
{% endblock %}
