{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
</style>
{% endblock %}

{% block heading %}
<h1>Greetings</h1>
{% endblock %}

{% block main_content %}
<div>
    Learn some greetings to use to your peers!
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Greeting</th>
          <th>Italian</th>
          <th>Pronounciation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hi (Informal)</td>
          <td>Ciao</td>
          <td><i class="fas fa-play-circle" onclick="playAudio('1.mp3')"></i></td>
        </tr>
        <tr>
          <td>How are you?</td>
          <td>Come Stai?</td>
          <td><i class="fas fa-play-circle" onclick="playAudio()"></i></td>
        </tr>
        <tr>
          <td>Good Morning</td>
          <td>Buon Giorno</td>
          <td></td>
        </tr>
        <tr>
          <td>Good Afternoon</td>
          <td>Buon Pomeriggio</td>
          <td></td>
        </tr>
        <tr>
          <td>Good Evening</td>
          <td>Buona Sera</td>
          <td></td>
        </tr>
        <tr>
          <td>Good Night</td>
          <td>Buona Notte</td>
          <td></td>
        </tr>
        <tr>
          <td>Good Bye</td>
          <td>Arrivederci</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
