{% extends "pre-log-in-template.html" %}

{% set active_page = "index" %}

{% block main_content %}
<div class="jumbotron text-center">
    <h1 class="display-1">Learn Italian</h1>
    <p class="lead">Some text here</p>
    <!-- <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p> -->
</div>
<main class="container text-center">
  <p>Italian is the 20th most spoken language in the world with over 60 million people who speak Italian as their first language.</p>
  <p>It is spoken in over over 30 different countries including Switzerland, Croatia, Luxembourg and even Slovenia.</p>
  <p>Learning Italian or any foreign language can help stimulate the brain whilst improving memory and problem solving skills.</p>
  <p>Italian is considered one of easiest languages for English speakers to learn.</p>
  <br>
  <p>This website will assist you in learning the basics in Italian!</p>
</main>
<footer class="text-center">
  <p>2021 Veronica and Aaron</p>
</footer>
{% endblock %}