{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
body {
    font-size: .875rem;
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  /*
  * Sidebar
  */

  .sidebar {
    /* position: fixed; */
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    /* padding: 48px 0 0;*/ /*Height of navbar */
    padding: 0.5rem 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
  * Navbar
  */

  /* .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  } */

  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .card {
      margin-bottom: 1rem;
      margin-left: 1rem;
      display: flex;
  }
</style>
{% endblock %}

{% block heading %}
<h1>Learn</h1>
{% endblock %}

{% block main_content %}
<div class="row">
  <div class="card shadow-sm" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Alphabet</h5>
      <h6 class="card-subtitle mb-2 text-muted">Alfabeto</h6>
      <p class="card-text">Learn the structure of the Italian Alphabet!</p>
      <a href="{{ url_for('alphabet')}}" class="card-link">Learn</a>
      <a href="#" class="card-link">Test Your Knowledge</a>
      </div>
  </div>
      <div class="card shadow-sm" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">Numbers</h5>
          <h6 class="card-subtitle mb-2 text-muted">Numeri</h6>
          <p class="card-text">Learn how to count in Italian!</p>
          <a href="/numbers.html" class="card-link">Learn</a>
          <a href="#" class="card-link">Test Your Knowledge</a>
          </div>
      </div>
      <div class="card shadow-sm" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">Greetings</h5>
          <h6 class="card-subtitle mb-2 text-muted">Saluti</h6>
          <p class="card-text">Learn some generic Italian greetings!</p>
          <a href="/greetings.html" class="card-link">Learn</a>
          <a href="#" class="card-link">Test Your Knowledge</a>
          </div>
      </div>
      <div class="card shadow-sm" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">Colours</h5>
          <h6 class="card-subtitle mb-2 text-muted">Colori</h6>
          <p class="card-text">Learn to differentiate between colours in Italian.</p>
          <a href="/colours.html" class="card-link">Learn</a>
          <a href="#" class="card-link">Test Your Knowledge</a>
          </div>
      </div>
      <div class="card shadow-sm" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">Definite and Indefinite Articles</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Learn how to use the correct definite and indefinite articles in Italian.</p>
          <a href="/articles.html" class="card-link">Learn</a>
          <a href="#" class="card-link">Test Your Knowledge</a>
          </div>
      </div>
      <div class="card shadow-sm" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">Common Verbs</h5>
          <h6 class="card-subtitle mb-2 text-muted">Verbi Comuni</h6>
          <p class="card-text">Learn some commonly used verbs in Italian</p>
          <a href="/verbs.html" class="card-link">Learn</a>
          <a href="#" class="card-link">Test Your Knowledge</a>
        </div>
    </div>
</div>
{% endblock %}
