{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
    /* importing fonts */
   @import url('https://fonts.googleapis.com/css2?family=Raleway');

    body {
        font-family: 'Raleway', sans-serif;
    }

    h1 {
        font-weight: 900;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
    }

    .card-body {
        background-color: #bacedf;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        line-height: 2;
    }
    .card-title {
        font-weight: bolder;
        text-align: center;
        text-transform: capitalize;
    }

    .card-subtitle {
        text-align: center;
    }

    .card-text {
        text-align: center;
    }

    .card-link {
        background-color: #70a3cc;
        border-radius: 5px;
        color: #ffffff;
        padding: 0.5em 2em;
    }

</style>
{% endblock %}

{% block heading %}
<h1>Learn</h1>
{% endblock %}

{% block main_content %}
<div class="row">
    {% for module in modules %}
        {% include module %}
    {% endfor %}
</div>
{% endblock %}
