{% extends "pre-log-in-template.html" %}

{% set active_page = "login" %}

{% block styling %}
<link rel="stylesheet" href="static/login-signup.css" />

<style>
    #inputEmail {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #inputPassword {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block main_content %}
<div class="container">
    <form class="form-login-signup" method="post" action="">
        {{ form.hidden_tag() }}
        <img class="mb-3" src="static/bootstrap.svg" alt="Bootstrap" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
        {{ form.email(id="inputEmail", class="form-control", placeholder="Email address", autofocus="")}}
        {{ form.password(id="inputPassword", class="form-control", placeholder="Password")}}

        <!-- TODO using browser validation so might be able to get rid of this? -->
        {% for error in form.email.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% for error in form.password.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

        {{ form.admin_login(class="mb-3") }}
        {{ form.admin_login.label(class="ml-2") }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {{ form.submit(class="btn btn-lg btn-primary btn-block")}}

    </form>
</div>
{% endblock %}