{% extends "pre-log-in-template.html" %}

{% set active_page = "signup" %}

{% block styling %}
<link rel="stylesheet" href="static/login-signup.css" />

<style>
    #name {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #inputEmail,
    #password  {
        margin-top: -1px;
        margin-bottom: -1px;
        border-radius: 0;
    }

    #confirmPassword {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block main_content %}
<div class="container">
        <form class="form-login-signup" method="post" action ="">
            {{ form.hidden_tag() }}
            <img class="mb-3" src="static/bootstrap.svg" alt="Bootstrap" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
            {{ form.name(id="name", class="form-control", placeholder="Name", autofocus="") }}

            {{ form.email(id="inputEmail", class="form-control", placeholder="Email address", required="") }}

            {{ form.password(id="password", class="form-control", placeholder="Password", required="") }}

            {{ form.confirmPassword(id="confirmPassword", class="form-control", placeholder="Confirm password", required="") }}

            <div class="passwordStrength"></div>

            <!-- TODO using browser validation so might be able to get rid of this? -->            
            {% for error in form.name.errors %}
            <div class="alert alert-danger">[{{ error }}]</div>
            {% endfor %}
            {% for error in form.email.errors %}
            <div class="alert alert-danger">[{{ error }}]</div>
            {% endfor %}
            {% for error in form.password.errors %}
            <div class="alert alert-danger">[{{ error }}]</div>
            {% endfor %}
            {% for error in form.confirmPassword.errors %}
            <div class="alert alert-danger">[{{ error }}]</div>
            {% endfor %}

            {{ form.submit(class="btn btn-lg btn-primary btn-block")}}
        </form>
</div>
{% endblock %}

{% block script %}
<script>
    // TODO !!!
    let weakPassword = new RegExp("\d{3}");
    $(document).ready(function(){
        $("#password").on("input", function(){
            let password = $(this).val();
            console.log(weakPassword.test(password));
        });
    });
</script>
{% endblock %}