{% extends "pre-log-in-template.html" %}

{% set active_page = "signup" %}

{% block styling %}
<link rel="stylesheet" href="static/login-signup.css" />

<style>
    #name {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #inputEmail,
    #password  {
        margin-top: -1px;
        margin-bottom: -1px;
        border-radius: 0;
    }

    #confirmPassword {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block main_content %}
<div class="container">
        <form class="form-login-signup" method="post" action ="" novalidate>
            {{ form.hidden_tag() }}
            <img class="mb-3" src="static/bootstrap.svg" alt="Bootstrap" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
            {{ form.name(id="name", class="form-control", placeholder="Name", autofocus="") }}

            {{ form.email(id="inputEmail", class="form-control", placeholder="Email address", required="") }}

            {{ form.password(id="password", class="form-control", placeholder="Password", required="") }}

            {{ form.confirmPassword(id="confirmPassword", class="form-control", placeholder="Confirm password", required="") }}

            <div class="passwordStrength"></div>

            {{ form.submit(class="btn btn-lg btn-success btn-block")}}
        </form>
</div>
{% endblock %}

{% block script %}
<script>
     $(document).ready(function(){
        $("form").on("submit", function(){
            let emailRegex = /^[\w\-\._]+@[\w\-\._]+\.[\w]+$/;
            let nameRegex = /^[A-Za-z]+((-| )[A-Za-z]*)?/;
            let errorMsg = "Please enter:";
            let error = false;

            let name = document.getElementById("name").value;
            let emailAddr = document.getElementById("inputEmail").value;
            let pswd1 = document.getElementById("password").value;
            let pswd2 = document.getElementById("confirmPassword").value;

            if (name == "") {
                errorMsg += "\n  * a name! (no numbers or special characters)"
                error = true;
            }

            if (emailAddr == "") {
                errorMsg += "\n  * an email address!"
                error = true;
            }
            else if (!emailRegex.test(emailAddr)) {
                errorMsg += "\n  * a valid email!"
                error = true;
            }

            if (pswd1 == "") {
                errorMsg += "\n  * a password in the first field!"
                error = true;
            }
            if (pswd2 == "") {
                errorMsg += "\n  * a password in the second field!"
                error = true;
            }
            if (pswd1 != pswd2) {
                errorMsg += "\n  * passwords that match!"
                error = true;
            }
            if (error) {
                alert(errorMsg);
            }
        });
    });

    // TODO !!!
    let weakPassword = /\d{3}/g;
    $(document).ready(function(){
        $("#password").on("input", function(){
            let password = $(this).val();
            console.log(weakPassword.test(password));
        });
    });
</script>
{% endblock %}