/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat|Playfair+Display');

.logo {
    margin-right: 0.3rem;
    margin-top: 0.2rem;
}
.navbar-nav>li{
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

/* Styling the overall page */
body {
    background: rgb(44, 172, 127);
    /* color: #363636; */
    /* display: block; */
    font-family: 'Playfair Display', serif;
    /* font-weight: 300; */
    /* line-height: 1.8; */
    /* margin: 0; */
    /* padding: 0; */
}