{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<style>
</style>
{% endblock %}

{% block heading %}
<h1>Greetings Quiz</h1>
{% endblock %}

{% block main_content %}
{% if completed %}
<div class="alert alert-success">Quiz successfully submitted!</div>
{% endif %}
<form id="form-quiz" action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.question1.label }}
    {% for field in form.question1 %}
    <br>
        {% if completed %}
        {{ field(disabled=true) }}
        {% else %}
        {{ field }}
        {% endif %}
    {{ field.label }}
        {% if completed %}
            {% if field.data == form.question1.data and solution.q1_correct %}
            <i class="fas fa-check"></i>
            {% elif field.data == form.question1.data %}
            <i class="fas fa-times"></i>
            {% elif field.data == solution.q1 %}
            <i class="fas fa-check"></i>
            {% endif %}
        {% endif %}
    {% endfor %}

    <br>
    {% for error in form.question1.errors %}
    <div class="alert alert-danger">Please select an option!</div>
    {% endfor %}
    <br>

    {{ form.question2.label }}
    {% for field in form.question2 %}
    <br>
        {% if completed %}
        {{ field(disabled=true) }}
        {% else %}
        {{ field }}
        {% endif %}
    {{ field.label }}
        {% if completed %}
            {% if field.data == form.question2.data and solution.q2_correct %}
            <i class="fas fa-check"></i>
            {% elif field.data == form.question2.data %}
            <i class="fas fa-times"></i>
            {% elif field.data == solution.q2 %}
            <i class="fas fa-check"></i>
            {% endif %}
        {% endif %}
    {% endfor %}

    <br>
    {% for error in form.question2.errors %}
    <div class="alert alert-danger">Please select an option!</div>
    {% endfor %}
    <br>

    
    {{ form.question3.label }}
    {% for field in form.question3 %}
    <br>
        {% if completed %}
        {{ field(disabled=true) }}
        {% else %}
        {{ field }}
        {% endif %}
    {{ field.label }}
        {% if completed %}
            {% if field.data == form.question3.data and solution.q3_correct %}
            <i class="fas fa-check"></i>
            {% elif field.data == form.question3.data %}
            <i class="fas fa-times"></i>
            {% elif field.data == solution.q3 %}
            <i class="fas fa-check"></i>
            {% endif %}
        {% endif %}
    {% endfor %}

    <br>
    {% for error in form.question3.errors %}
    <div class="alert alert-danger">Please select an option!</div>
    {% endfor %}
    <br>


    {{ form.question4.label }}
    <br>
    {% if completed %}
    {{ form.question4(disabled=true) }}
        {% if solution.q4_correct %}
        <i class="fas fa-check"></i>
        {% else %}
        <i class="fas fa-times"></i>
        <span class="alert alert-danger">{{solution.q4}}</span>
        {% endif %}
    {% else %}
    {{ form.question4 }}
    {% endif %}
    <br>
    {% for error in form.question4.errors %}
        <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <br>

    {{ form.question5.label }}
    {% for field in form.question5 %}
    <br>
        {% if completed %}
        {{ field(disabled=true) }}
        {% else %}
        {{ field }}
        {% endif %}
    {{ field.label }}
        {% if completed %}
            {% if field.data == form.question5.data and solution.q5_correct %}
            <i class="fas fa-check"></i>
            {% elif field.data == form.question5.data %}
            <i class="fas fa-times"></i>
            {% elif field.data == solution.q5 %}
            <i class="fas fa-check"></i>
            {% endif %}
        {% endif %}
    {% endfor %}

    <br>
    {% for error in form.question5.errors %}
    <div class="alert alert-danger">Please select an option!</div>
    {% endfor %}
    <br>

    {{ form.question6.label }}
    {% for field in form.question6 %}
    <br>
        {% if completed %}
        {{ field(disabled=true) }}
        {% else %}
        {{ field }}
        {% endif %}
    {{ field.label }}
        {% if completed %}
            {% if field.data == form.question6.data and solution.q6_correct %}
            <i class="fas fa-check"></i>
            {% elif field.data == form.question6.data %}
            <i class="fas fa-times"></i>
            {% elif field.data == solution.q6 %}
            <i class="fas fa-check"></i>
            {% endif %}
        {% endif %}
    {% endfor %}

    <br>
    {% for error in form.question6.errors %}
    <div class="alert alert-danger">Please select an option!</div>
    {% endfor %}
    <br>

    
    {{ form.question7.label }}
    {% for field in form.question7 %}
    <br>
        {% if completed %}
        {{ field(disabled=true) }}
        {% else %}
        {{ field }}
        {% endif %}
    {{ field.label }}
        {% if completed %}
            {% if field.data == form.question7.data and solution.q7_correct %}
            <i class="fas fa-check"></i>
            {% elif field.data == form.question7.data %}
            <i class="fas fa-times"></i>
            {% elif field.data == solution.q7 %}
            <i class="fas fa-check"></i>
            {% endif %}
        {% endif %}
    {% endfor %}

    <br>
    {% for error in form.question7.errors %}
    <div class="alert alert-danger">Please select an option!</div>
    {% endfor %}
    <br>


    {{ form.question8.label }}
    <br>
    {% if completed %}
    {{ form.question8(disabled=true) }}
        {% if solution.q8_correct %}
        <i class="fas fa-check"></i>
        {% else %}
        <i class="fas fa-times"></i>
        <span class="alert alert-danger">{{solution.q8}}</span>
        {% endif %}
    {% else %}
    {{ form.question8 }}
    {% endif %}
    <br>
    {% for error in form.question8.errors %}
        <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <br>

    <br>
    
    {% if completed %}
    {{ form.submit(disabled=true) }}
    {% else %}
    {{ form.submit }}
    {% endif %}
</form>
{% endblock %}
