{% extends "dashboard_template.html" %}

{% set active_page = "learn" %}

{% block styling %}
<!-- TODO move script tag!! -->
<script src="https://kit.fontawesome.com/199095d6cc.js" crossorigin="anonymous"></script>
<style>
    .fa-check {
        color: #228B22;
    }
    .fa-times {
        color: #dc143c;
    }
</style>
{% endblock %}

{% block heading %}
<h1>Alphabet Quiz</h1>
{% endblock %}

{% block main_content %}
{% if completed %}
<div class="alert alert-success">Quiz successfully submitted!</div>
{% endif %}
<form id="form-quiz" action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.question1.label }}
    {% for field in form.question1 %}
    <br>
        {% if completed %}
        {{ field(disabled=true) }}
        {% else %}
        {{ field }}
        {% endif %}
    {{ field.label }}
        {% if field.data == form.question1.data and solution.q1_correct %}
        <i class="fas fa-check"></i>
        {% elif field.data == form.question1.data %}
        <i class="fas fa-times"></i>
        {% elif field.data == solution.q1 %}
        <i class="fas fa-check"></i>
        {% endif %}
    {% endfor %}

    <br>
    {% for error in form.question1.errors %}
    <div class="alert alert-danger">Please select an option!</div>
    {% endfor %}
    
    <br>


    {{ form.question2.label }}
    {% if completed %}
    {{ form.question2(disabled=true) }}
        {% if solution.q2_correct %}
        <i class="fas fa-check"></i>
        {% else %}
        <i class="fas fa-times"></i>
        <span class="alert alert-danger">{{solution.q2}}</span>
        {% endif %}
    {% else %}
    {{ form.question2 }}
    {% endif %}
    
    
    {% for error in form.question2.errors %}
    <div class="alert alert-danger">[{{ error }}]</div>
    {% endfor %}

    <br>
    <br>
    
    {% if completed %}
    {{ form.submit(disabled=true) }}
    {% else %}
    {{ form.submit }}
    {% endif %}
</form>
{% endblock %}

{% block script %}
<script>
// $(document).ready(function () {
//     // $("#submit").click(function () {
//     $("#form-quiz").submit(function( event ) {
//         // this.disabled = true;
//         $("input:not(#csrf_token)").each(function(index, element){
//             this.disabled = true;
//         });
//     });
// });
</script>
{% endblock %}